:root {
  --background-color: #333333;
  --divider-color: #666666;
  --accent-color: #2060df;
  --warning-color: #ffdd33;
  --error-color: #ff0000;
  --text-color: #ffffffde;
  --font-size: 16px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: unset;

  height: 100vh;
  width: 100vw;
}

#app {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

button,
input {
  background: unset;
  border: unset;
  outline: unset;
  font-size: var(--font-size);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}